$primary-color: color('indigo', 'darken-1') !default;
$secondary-color: color('indigo', 'accent-2') !default;

$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;