$primary-color: color("blue", "base") !default;
$secondary-color: color("pink", "base") !default;

$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;