$color: #f5f5f5;


// https://material.io/color/#!/?view.left=0&view.right=0&primary.color=2196F3&secondary.color=D81B60&primary.text.color=ffffff

$primary: #2196F3;
$secondary: #D81B60;
$textColor: #ffffff;