.bookmark {
    display: flex;
    align-items: center;

    img {
        margin-right: 20px;
    }
}

.chip > img {
    height: 16px;
    width: 16px;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 0;
}