.row .col.drag {
    min-height: 100px;

    &.draggable {
        animation: shake 0.5s infinite;
        -webkit-animation: shake 0.5s infinite;
    }

    .delete {
        position: absolute;
        top: 24px;
        right: 24px;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}