.sidenav {
    li {
        & > div {
            padding: 0 32px;
        }
    }

    .input-field {
        line-height: normal;
    }

    .collapsible-header,
    .collapsible-body {
        padding: 0 32px;
    }

    .collapsible-body {
        padding-top: 10px;
    }
}