.weather_days {
    display: flex;
    justify-content: space-around;
    text-align: center;

    .item {
        flex-grow: 1;
        cursor: pointer;
        padding-bottom: 5px;

        &.active {
            border-bottom: 2px solid $secondary-color;
        }
    }

    img {
        height: 50px;
        margin: 5px 0;
    }

    .temp_max,
    .weather_day {
        color: color('grey', 'base');
    }
}